{% extends 'layout/base.html.twig' %}

{% block header %}
    {% set ld_header = {
        "@context": "https://schema.org",
        "@type": "Article",
        "author": {
            "@type": "Person",
            "name": "Anton Sukhachev",
            "identifier": orcid_url
        },
        "headline": title,
        "description": description,
        "inLanguage": "en",
        "datePublished": date|date('Y-m-d'),
        "isAccessibleForFree": true,
        "keywords": keywords,
        "url": "https://mrsuh.com" ~ path,
    } %}
    {% if doi %}
        {% set ld_header = ld_header|merge({'identifier': doi}) %}
    {% endif %}
    <script type="application/ld+json">
        {{- ld_header|json_encode( constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_UNESCAPED_SLASHES') )|raw -}}
    </script>
{% endblock %}

{% block content -%}
    <h1>{{ title }}</h1>
    <div class="header-info-block">
        <blockquote class="text-muted quote">
            Published: {{ date|date('d F Y') }}
        </blockquote>
        {% if origin %}
        <blockquote class="text-muted quote">
            Origin: <a href="{{ origin }}" class="link-secondary" target="_blank">{{ origin|replace({'https://': ''}) }}</a>
        </blockquote>
        {% endif %}
        {% if quote %}
            <blockquote class="text-muted link-secondary quote">
                {{- quote|raw -}}
            </blockquote>
        {% endif %}
    </div>
    {{- content|raw -}}
{%- endblock %}

{% block footer %}
    {% if views > 0 %}
        <div class="views text-muted">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
            </svg>
            <p>{{ views|number_format(0, '.', ',') }}</p>
        </div>
    {% endif %}
    <div class="row" style="height: 80px">
        <hr class="list"/>
        {% include 'layout/contacts.html.twig' with {class: 'text-center'} %}
    </div>
{% endblock %}

{% block script %}
    <link rel="stylesheet" href="/highlight.github-dark-dimmed.min.css">
    <script src="/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
{% endblock %}
